body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    font-family: 'Poppins', sans-serif;
}

canvas{display:block}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #020202;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-top-color: transparent;
    animation: loader 0.8s linear infinite;
    animation: loader 0.5s linear infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
    animation: text 4s ease;
}

.start {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    padding: 10px 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    animation: start 4s ease;
}

.start:hover {
    background-color: white;
    color: black;
    transition: .4s;
    font-weight: 700;
}

.start:active{
    opacity: .6;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

@keyframes text {
    0% {top: -50%;}
    100% {left: 50%;}
}

@keyframes start {
    0% {left: -50%;}
    100% {top: 75%;}
}